body {
    font-family: "Roboto", sans-serif;
}
.container {
    max-width: 870px;
    width: 100%;
    margin: auto;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
}
.nav-link {
    text-decoration: none;
    color: rgb(191, 117, 6);
    margin-left: 24px;
    font-size: 16px;
    line-height: 150%;
}
.nav-link.active {
    font-weight: 700;
}
.header {
    display: flex;
    align-items: center;
    padding-top: 74px;
    padding-bottom: 82px;
}
.header-text {
    margin-left: 27px;
}
.header-strong {
    color: var(--Neutral/900, rgba(33, 27, 18, 1));
    font-family: Inter;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: -3%;
}
.header-heading {
    font-family: Inter;
    font-style: Bold;
    font-size: 24px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: -3%;
    margin-top: 8px;
    margin-bottom: 24px;
}
.header-primary {
    color: rgb(191, 117, 6);
}
.social-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
}
.social-link {
    display: inline-block;
    padding: 8px;
}
.header-links {
    display: flex;
    align-items: center;
}
.cv-icon {
    margin-right: 4px;
}
.cv-download {
    display: flex;
    align-items: center;
    padding: 7px 8px;
    margin-left: 55px;
    text-decoration: none;
    color: rgb(33, 27, 18);
    font-family: Inter;
    font-style: Bold;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    border-bottom: 2px solid rgb(191, 117, 6);
}
.section-heading {
    color: rgb(191, 117, 6);
    font-family: Inter;
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: -3%;
}
.cards {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.card {
    max-width: 400px;
    margin-bottom: 40px;
}
.card-text-wrapper {
    padding: 16px;
}
.card-title {
    color: rgb(191, 117, 6);
    font-family: Inter;
    font-style: Bold;
    font-size: 24px;
    font-weight: 700;
    line-height: 135%;
    letter-spacing: -2%;
    margin-top: 0;
    margin-bottom: 8px;
}
.tags {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 16px;
}
.tag {
    padding: 4px 8px;
    display: inline-block;
    color: rgb(33, 27, 18);
    font-family: Inter;
    font-style: Regular;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-decoration: none;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid rgb(221, 156, 60);
    border-radius: 4px;
    margin-right: 4px;
}
.card-text {
    color: rgb(33, 27, 18);
    font-family: Inter;
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
}
.card-buttons {
    display: flex;
    align-items: center;
}
.card-button {
    display: flex;
    align-items: center;
    padding: 7px 8px;
    text-decoration: none;
    color: rgb(33, 27, 18);
    font-family: Inter;
    font-style: Bold;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    border-bottom: 2px solid rgb(191, 117, 6);
    margin-right: 25px;
}
.card-button-icon {
    margin-right: 4px;
}